body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100vw;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


.cat-intro {
    margin: auto;
    animation-duration: 2400ms;
    animation-name: fadeIn;
}

.cat-selection {
    display: flex;
}


