/* The top css is basically default. Keep your media queries at the bottom!!! */
body {
    overflow: hidden; /* Hide scrollbars */
    background: url('/images/background.svg')
  }


.cat-base{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 99vh;
}

h1 {
    text-align: center;
}
p{
    text-align: center;
}

/* If the images I want is 90 vw as default */
.cat-base img {
    width: 90vw;
}

/* This is a default, but added it at the bottom just because I have min-width (minimum width) on the tablet and i didn't have a max-width which would contain it to what I wanted. */
.Kitten, .Medium-Cat {
    display: none;
}







/* Great size for mobile. This is saying the max-width 600px and smaller use these changes*/
@media only screen and (max-width: 600px) {
    .Kitten {
    display: block;
}
.Medium-Cat, .Large-Cat {
    display: none;
}
}

/* Good for tablet, but you can put a max-width (max-width: 992px) to cap the size.  This is saying the min-width 600px and large use these changes. Yes you can add more than one "and" you can have multiple ands
 @media only screen and (min-width: 600px) and (max-width: 992px) */
@media only screen and (min-width: 600px) {
    .Kitten, .Large-Cat {
    display: none;
}

.Medium-Cat {
    display: block;
}
.cat-base img {
    width: 85vw;
}
}

/* added the desktop because I didn't put a max width on the tablet. This is saying the min-width 992 and large use these changes */
@media only screen and (min-width: 992px) {
    
    .Kitten, .Medium-Cat {
        display: none;
    }

    .Large-Cat {
        display: block;
    }

    .cat-base img {
        width: 65vw;
    }
    
    
}